/* Estilos Globales*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.contenedor {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
/* Header Iconos*/
header{
	width: 100%;
}
header .cabecera-superior {
	background: rgb(41, 39, 39);
}
header .cabecera-superior a {
	text-decoration: none;
	color: #fff;
}
header .cabecera-superior .contenedor {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}
header .cabecera-superior .contenedor .cabecera-medios{
	display: flex;
	flex-flow: row wrap;
}
header .cabecera-superior .contenedor .cabecera-medios .medios {
	margin-right: 80px;
}
header .cabecera-superior .contenedor .cabecera-social {
	display: flex;
	flex-flow: row wrap;
}
header .cabecera-superior .contenedor .cabecera-social ul, li {
	margin: 0;
	padding: 0;
}
header .cabecera-superior .contenedor .cabecera-social li {
	display: inline-block;
}
header .cabecera-superior .contenedor .cabecera-social .social {
	margin-right: 80px;
}
header .cabecera-superior .contenedor .cabecera-social .lista-social li {
	margin-right: 12px;
	margin-left: 12px;
}
/* Header Logo */
header .cabecera-principal{
	width: 100%;
	height: 100%;
}
header .cabecera-principal .contenedor {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 1px;
	padding-bottom: 1px;
}
header .cabecera-principal .contenedor .logo-dmc,
header .cabecera-principal .contenedor .panel-menu{
	padding-top: 1px;
	padding-bottom: 1px;
}
header .cabecera-principal .contenedor .logo-dmc img{
	width: 150px;
	height: 105px;
}
header .cabecera-principal .contenedor .panel-menu .menu{
	display: inline-block;
}
header .cabecera-principal .contenedor .panel-menu .menu ul{
	padding-bottom: 10px;
	padding-top: 10px;
}
header .cabecera-principal .contenedor .panel-menu .menu .menu-opciones {
	display: flex;
}
header .cabecera-principal .contenedor .panel-menu .menu .menu-opciones li,
header .cabecera-principal .contenedor .panel-menu .menu .menu-opciones li a{
	font-size: 20px;
	font-weight: 600;
	color: #3a3a3a;
	text-decoration: none;
}
header .cabecera-principal .contenedor .panel-menu .menu .menu-opciones li {
	padding: 35px;
	list-style-type: none;
}
/* Banner */
.banner {
	position: relative;
	margin-bottom: -8px;
}
.banner img {
	width: 100%;
	opacity: .8;
}
.banner .contenedor {
	position: absolute;
	top: 0;
	left: 0px;
	right: 0px;
	text-align: center;
	z-index: 9;
}
.banner .contenedor h1 {
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 5em;
	color: #fff;
}
.banner .contenedor h3 {
	font-weight: normal;
	font-size: 30px;
	color: #fff;
}
/* Galería */
.galeria-titulo .contenedor{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.galeria-titulo .contenedor h2{
	font-size: 30px;
}
.galeria-imagenes {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	grid-gap: 0;
	width: 100%;
	box-sizing: border-box;
	box-sizing: content-box;
	overflow: hidden;
}
.galeria-imagen {
	height: 200px;
	width: 341px;
	box-sizing: content-box;
	overflow: hidden;
}
.galeria-imagen img {
    -webkit-filter: brightness(100%);
	width: 100%;
}
.galeria-imagen img:hover {
    -webkit-filter: brightness(40%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Footer */
footer{
	background: black;
}
footer .footer-enlaces .contenedor {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 20px;
}
footer .footer-enlaces .footer-linea {
	background-color: #ccc;
	border: 1px solid #fff;
	height: 1px;
	width: 38%;
	margin-bottom: 30px;
	box-sizing: content-box;
	overflow: visible;
}
footer .footer-enlaces .lista-social {
	width: 23%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
footer .footer-enlaces .lista-social li:first-child {
	margin-left: 20px;
}
footer .footer-enlaces .lista-social li {
	display: inline-block;
	margin-right: 20px;
}
footer .footer-enlaces .lista-social i{
	color: #fff;
}
footer .footer-copyright .contenedor {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}
footer .footer-copyright .contenedor p {
	color: #fff;
}
footer .footer-copyright .contenedor p span {
	padding-right: 10px;
	padding-left: 10px;
}
